# http://www.gnu.org/software/automake

Makefile
Makefile.in
*.lo
*.la
*.o
*.libs
*.deps
*.dirstamp
.DS_Store
*.log
*.dSYM
*.trs
static-components.h

# http://www.gnu.org/software/autoconf

autom4te.cache
aclocal.m4
compile
configure
depcomp
install-sh
missing
stamp-h?
config/install-sh
config/libtool.m4
config/ltmain.sh
config/ylwrap
config.log
config.lt
config.status
config/Makefile
libtool
config.h
config.h~

auto.out
config.out
dist.out

config/ar-lib
config/compile
config/config.guess
config/config.sub
config/depcomp
config/missing
config/test-driver
config/ltoptions.m4
config/ltsugar.m4
config/ltversion.m4
config/lt~obsolete.m4
config/ylwrap
config/autogen_found_items.m4
config/py-compile
config/mca_library_paths.txt

bindings/python/pmix.c
bindings/python/*.so
bindings/python/build/
bindings/python/pmix_constants.pxd
bindings/python/pmix_constants.pxi
bindings/python/client.py
bindings/python/server.py

examples/alloc
examples/client
examples/client2
examples/debugger
examples/debuggerd
examples/dmodex
examples/dynamic
examples/fault
examples/jctrl
examples/pmix1client
examples/pub
examples/pubi
examples/server
examples/tool
examples/group
examples/asyncgroup

include/pmix_version.h
include/pmix_rename.h
include/pmix_common.h

src/include/pmix_config.h
src/include/pmix_config.h.in
src/include/pmix_config.h.in~
src/include/frameworks.h

src/mca/pinstalldirs/config/pinstall_dirs.h
src/mca/pdl/base/static-components.h
src/mca/pinstalldirs/base/static-components.h

src/tools/pattrs/pattrs
src/tools/pevent/pevent
src/tools/pmix_info/pmix_info
src/tools/plookup/plookup
src/tools/pps/pps
src/tools/ptop/ptop

src/util/show_help_lex.c
src/util/keyval/keyval_lex.c

bindings/python/src/_pypmix.so
bindings/python/src/libpypmix.so
bindings/python/src/pypmix.py
bindings/python/src/pypmix_wrap.c
bindings/python/client.py
bindings/python/server.py
bindings/python/sched.py

test/pmi2_client
test/pmi_client
test/pmix_client
test/pmix_test
test/pmix_client2
test/pmix_srv_self
test/pmix_server_api2
test/pmix_test_lite
test/pmix_test.log
test/pmix_test.trs
test/pmix_test_lite.log
test/pmix_test_lite.trs
test/test-suite.log
test/pmix_regex
test/run_tests00.pl
test/run_tests01.pl
test/run_tests02.pl
test/run_tests03.pl
test/run_tests04.pl
test/run_tests05.pl
test/run_tests06.pl
test/run_tests07.pl
test/run_tests08.pl
test/run_tests09.pl
test/run_tests10.pl
test/run_tests11.pl
test/run_tests12.pl
test/run_tests13.pl
test/run_tests14.pl
test/run_tests15.pl
test/simple/quietclient
test/simple/simptest
test/simple/simpsched
test/simple/simpclient
test/simple/simplegacy
test/simple/simppub
test/simple/simpdmodex
test/simple/simpft
test/simple/simpdyn
test/simple/test_pmix
test/simple/simptool
test/simple/simpdie
test/simple/simptimeout
test/simple/stability
test/simple/gwclient
test/simple/gwtest
test/simple/simpjctrl
test/simple/simpio
test/simple/data-*

# coverity
cov-int
