# http://www.gnu.org/software/automake

Makefile
Makefile.in
*.lo
*.la
*.o
*.libs
*.deps
*.dirstamp
.DS_Store
*.log
*.dSYM
*.trs
static-components.h

# http://www.gnu.org/software/autoconf

autom4te.cache
aclocal.m4
compile
configure
configure~
configure.log.*
make.log.*
make.install.log.*
depcomp
install-sh
missing
stamp-h?
config/install-sh
config/libtool.m4
config/ltmain.sh
config/ltmain.sh.orig
config/ylwrap
config.log
config.lt
config.status
config/Makefile
libtool
config.h
config.h~

auto.out
config.out
dist.out

config/ar-lib
config/compile
config/config.guess
config/config.sub
config/depcomp
config/missing
config/test-driver
config/ltoptions.m4
config/ltsugar.m4
config/ltversion.m4
config/lt~obsolete.m4
config/ylwrap
config/autogen_found_items.m4
config/py-compile
config/mca_library_paths.txt

maint/pmix.pc

bindings/python/pmix.c
bindings/python/*.so
bindings/python/build/
bindings/python/pmix_constants.pxd
bindings/python/pmix_constants.pxi
bindings/python/pmix_constants.stamp
bindings/python/dist/
bindings/python/pypmix.egg-info/
# test/python/test_construct.py imports construct.py from here, so a
# "make check" leaves the interpreter's byte-code cache behind
bindings/python/__pycache__/
test/python/__pycache__/

examples/python/__pycache__/
examples/alloc
examples/client
examples/client2
examples/client3
examples/client4
examples/debugger
examples/debuggerd
examples/datatypes
examples/delete_key
examples/dmdx_departed
examples/modex_attach_fail
examples/dmodex
examples/dynamic
examples/modex_twice
examples/fault
examples/jctrl
examples/pmix1client
examples/pub
examples/pubi
examples/server
examples/tool
examples/group
examples/group_dmodex
examples/asyncgroup
examples/hello
examples/bad_exit
examples/daemon_error_notify
examples/launcher
examples/log
examples/showkeys
examples/abi_no_init
examples/abi_with_init
examples/group_lcl_cid
examples/nodeinfo
examples/pset
examples/group_bootstrap
examples/group_die
examples/connect_die
examples/spawn_group
examples/resolve
examples/multi_nspace_group
examples/pub2
examples/toolqry
examples/toolswitch
examples/simple_resolve
examples/pubstress
examples/monitor
examples/monitor_remote
examples/monitor_multi
examples/simple
examples/simple_server
examples/abort
examples/group_leave
examples/group_destruct_die
examples/group_invite
examples/group_invite_timeout
examples/group_invite_decline
examples/group_invite_abort
examples/group_invite_others
examples/spawn_reuse
examples/spawn_iof
examples/iof_watcher
examples/group_badinfo
examples/group_invite_suppress
examples/group_invite_nb
examples/group_invite_endpts
examples/topology
examples/group_construct_abort
examples/group_daemon_fail

include/pmix_version.h
include/pmix_rename.h
include/pmix_common.h

src/include/pmix_config.h
src/include/pmix_config.h.in
src/include/pmix_config.h.in~
src/include/pmix_frameworks.h
src/include/pmix_frameworks.c
src/include/pmix_dictionary.c
src/include/pmix_dictionary.h
src/include/pmix_event_strings.c
src/include/pmix_event_strings.h

src/mca/pinstalldirs/config/pinstall_dirs.h
src/mca/pdl/base/static-components.h
src/mca/pinstalldirs/base/static-components.h

src/tools/palloc/palloc
src/tools/pattrs/pattrs
src/tools/pcancel/pcancel
src/tools/pctrl/pctrl
src/tools/pevent/pevent
src/tools/pmix_info/pmix_info
src/tools/plookup/plookup
src/tools/pps/pps
src/tools/pquery/pquery
src/tools/wrapper/pmixcc-wrapper-data.txt
src/tools/wrapper/pmixcc


src/util/keyval/keyval_lex.c
src/util/pmix_show_help_content.c

test/pmi2_client
test/pmi_client
test/pmix_client
test/pmix_test
test/pmix_client2
test/pmix_environ
test/pmix_srv_self
test/pmix_server_api2
test/pmix_test_lite
test/pmix_test.log
test/pmix_test.trs
test/pmix_test_lite.log
test/pmix_test_lite.trs
test/test-suite.log
test/pmix_regex
test/pmix_test_env.sh
test/run_tests00.pl
test/run_tests01.pl
test/run_tests02.pl
test/run_tests03.pl
test/run_tests04.pl
test/run_tests05.pl
test/run_tests06.pl
test/run_tests07.pl
test/run_tests08.pl
test/run_tests09.pl
test/run_tests10.pl
test/run_tests11.pl
test/run_tests12.pl
test/run_tests13.pl
test/run_tests14.pl
test/run_tests15.pl
test/run_tests16.pl
test/run_tests17.pl
test/run_tests18.pl
test/run_tests19.pl
test/run_tests20.pl
test/run_tests21.pl
test/simple/run_*.sh
test/simple/doubleget
test/simple/quietclient
test/simple/simptest
test/simple/simpsched
test/simple/simpclient
test/simple/simplegacy
test/simple/simppub
test/simple/simpdmodex
test/simple/simpft
test/simple/simpdyn
test/simple/test_pmix
test/simple/simptool
test/simple/simpdie
test/simple/simptimeout
test/simple/stability
test/simple/gwclient
test/simple/gwtest
test/simple/simpjctrl
test/simple/simpmonitor
test/simple/simpio
test/simple/data-*
# left behind only if simpmonitor is killed before it unlinks its
# file-monitor target
test/simple/simpmon-*.watch
test/simple/simpcoord
test/python/run_bindings.sh
test/python/run_sched.sh
test/python/run_server.sh
test/simple/pmitest
test/simple/simpcycle
test/simple/simpgrpmember
test/simple/simpgrpdie
test/simple/simpgrpddie
test/simple/simpgrpleader
test/simple/simpgrpcabort
test/simple/simpgrpctimeout
test/simple/simptoolcycle
test/simple/tool_server_switch
test/simple/simpfabric
test/simple/get_put_example
test/simple/simpvni
test/simple/hybrid
test/simple/asyncio
test/simple/simpqual
test/simple/simpdist
test/simple/legacy
test/simple/refresh


test/unit/client_api
test/unit/client_commit
test/unit/common_api
test/unit/compress
test/unit/compress_block
test/unit/preg
test/unit/bfrops_regex2
test/unit/bfrops_alloc_inherit
test/unit/bfrops_darray
test/unit/bfrops_get_number
test/unit/bfrops_helpers
test/unit/bfrops_null_object
test/unit/bfrops_malformed
test/unit/nested_darray
test/unit/gds_datastore
test/unit/gds_fallback
test/unit/pmix_log
test/unit/collective_status
test/unit/collect_job_info
test/unit/trk_complete
test/unit/tracker_match
test/unit/trk_peer_lost
test/unit/client_cycle
test/unit/tool_cycle
test/unit/event_chain
test/unit/hwloc_datatype
test/unit/hwloc_devices
test/unit/hwloc_setup_fail
test/unit/progress_threads
test/unit/runtime_init
test/unit/resolve_api
test/unit/spawn_api
test/unit/server_get
test/unit/server_group
test/unit/server_control
test/unit/server_events
test/unit/server_fence
test/unit/server_connect
test/unit/server_dmodex
test/unit/server_inventory
test/unit/server_registration
test/unit/server_op_replies
test/unit/server_ops
test/unit/server_fabric
test/unit/server_resolve
test/unit/server_setup
test/unit/info_support
test/unit/rndz_stale
test/unit/singleton_register
test/unit/iof_pattern
test/unit/iof_flow
test/unit/iof_output
test/unit/iof_pending
test/unit/iof_inherit
test/unit/proc_array_id
test/unit/attr_dictionary
test/unit/get_api
test/unit/get_perf
test/unit/ptl_uri
test/unit/ptl_handshake
test/unit/tool_nspace
test/unit/tool_rndz
test/unit/tool_api
test/unit/tool_evcache
test/unit/event_forward
test/unit/session_update
test/unit/pgpu_visible_devices
test/unit/pnet_assigned_devices
test/unit/pnet_envar_blob
test/unit/pnet_opa_seckey
test/unit/pnet_tcp_ports
test/unit/pnet_simptest_map
test/unit/pgpu_affinity_mask
test/unit/pgpu_envar_blob
test/unit/pmdl_envars
test/unit/plog_routing
test/unit/psec_credentials
test/unit/threads_primitives
test/unit/pif_discovery
test/unit/server_extprogress
test/unit/pfexec_params
test/unit/tool_relay
test/unit/run_gds_fallback.pl
test/unit/run_simpcycle.pl
test/unit/run_toolcycle.pl
test/unit/run_toolswitch.pl
test/unit/run_grpmember.pl
test/unit/run_grpinvite.pl
test/unit/run_grpinviteendpts.pl
test/unit/run_grpbadinfo.pl
test/unit/run_grpinviteothers.pl
test/unit/run_grpinvitesuppress.pl
test/unit/run_grpinvitenb.pl
test/unit/run_grptimeout.pl
test/unit/run_grpdecline.pl
test/unit/run_grpabort.pl
test/unit/run_grpmemberfail.pl
test/unit/run_grpleader.pl
test/unit/run_grpcabort.pl
test/unit/run_grpctimeout.pl
test/unit/run_monitor.pl
test/unit/run_tools.pl
test/unit/pstat_frame
test/unit/pstat_query
test/unit/pstat_parse
test/unit/util_argv
test/unit/util_basename
test/unit/util_path
test/unit/util_string_copy

test/util/numa
test/util/convert

# coverity
cov-int

docs/_build
docs/_static
docs/_static/css/custom.css
docs/_templates

# Generated RST files
docs/code-of-conduct.rst

# Common Python virtual environment directory names
venv
py??

# Out-of-tree (VPATH) build trees the contrib/dockerswarm scripts create at
# the repo root.  contrib/dockerswarm/.gitignore names two of these, but a
# .gitignore only governs its own directory downward and these are built up
# here, so they have to be listed at the root to actually be ignored.
#   build.sh macos        -> vpath-macos-pmix, vpath-macos-prte
#   run-class-tests.sh    -> vpath-macos-pmix-opt (the --disable-debug tree)
vpath-macos-pmix/
vpath-macos-pmix-opt/
vpath-macos-prte/
