# http://www.gnu.org/software/automake

Makefile
Makefile.in
*.lo
*.la
*.o
*.libs
*.deps
*.dirstamp
.DS_Store
*.log
*.trs

# http://www.gnu.org/software/autoconf

autom4te.cache
aclocal.m4
compile
configure
depcomp
install-sh
missing
stamp-h?
config/install-sh
config/libtool.m4
config/ltmain.sh
config.log
config.lt
config.status
config/Makefile
libtool
config.h
config.h~

auto.out
config.out
dist.out

config/ar-lib
config/compile
config/config.guess
config/config.sub
config/depcomp
config/missing
config/test-driver
config/ltoptions.m4
config/ltsugar.m4
config/ltversion.m4
config/lt~obsolete.m4

examples/client
examples/dmodex
examples/dynamic
examples/fault
examples/pub
examples/server

include/pmix/autogen/config.h.in
include/pmix/autogen/config.h.in~
include/pmix_version.h

test/pmi2_client
test/pmi_client
test/pmix_client
test/pmix_test
test/pmix_client2
test/pmix_srv_self
test/pmix_server_api2
test/pmix_test_lite
test/pmix_test.log
test/pmix_test.trs
test/pmix_test_lite.log
test/pmix_test_lite.trs
test/test-suite.log
test/pmix_regex
test/simple/simptest
test/simple/simpclient
test/simple/simppub
test/simple/simpdmodex
test/simple/simpft
test/simple/simpdyn

# coverity
cov-int
