name: PRRTE

on: [pull_request]

permissions:
  contents: read

jobs:
  dvm:
    runs-on: ubuntu-latest
    steps:
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y --no-install-recommends software-properties-common libhwloc-dev libevent-dev
    - name: Git clone OpenPMIx
      uses: actions/checkout@v3
      with:
            submodules: recursive
    - name: Build OpenPMIx
      run: |
        ./autogen.pl
        ./configure --prefix=$RUNNER_TEMP/pmixinstall --enable-devel-check
        make -j
        make install
    - name: Git clone PRRTE
      uses: actions/checkout@v3
      with:
            submodules: recursive
            repository: openpmix/prrte
            path: prrte/v3.0
            ref: v3.0
    - name: Build PRRTE
      run: |
        cd prrte/v3.0
        ./autogen.pl
        ./configure --prefix=$RUNNER_TEMP/prteinstall --with-pmix=$RUNNER_TEMP/pmixinstall
        make -j
        make install
    - name: Tweak PRRTE
      run:  |
         # Tweak PRRTE
         mca_params="$HOME/.prte/mca-params.conf"
         mkdir -p "$(dirname "$mca_params")"
         echo rmaps_default_mapping_policy = :oversubscribe >> "$mca_params"
    - name: Run simple test
      run: |
         export PATH=$RUNNER_TEMP/prteinstall/bin:${PATH}
         export LD_LIBRARY_PATH=$RUNNER_TEMP/prteinstall/lib:${LD_LIBRARY_PATH}
         prte --daemonize --no-ready-msg
         prun -n 4 ./examples/hello
         pterm
    - name: Run tool check
      run: |
         export PATH=$RUNNER_TEMP/prteinstall/bin:${PATH}
         export LD_LIBRARY_PATH=$RUNNER_TEMP/prteinstall/lib:${LD_LIBRARY_PATH}
         prte --system-server --daemonize --no-ready-msg
         prun -n 1 --system-server sleep 10000 &
         ./examples/toolqry --system-server
         pterm --system-server
    - name: Run pubstress check
      run: |
         export PATH=$RUNNER_TEMP/prteinstall/bin:${PATH}
         export LD_LIBRARY_PATH=$RUNNER_TEMP/prteinstall/lib:${LD_LIBRARY_PATH}
         prterun -n 5 ./examples/pubstress 30
      if:   ${{ true }}
      timeout-minutes: 10
